<div [class]="'header '+(_isVendor?'header-purple':'header-blue')" [class.header-purple]="_isVendor" [class.scrolled]="_isScrolled">
    <nav class="navbar navbar-default navigation-clean-search">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" [routerLink]="['/home']" title="LunchOrderApp">
                    <img src="./assets/logo.png" alt="logo">
                </a>
                <ul class="navbar-menu" *ngIf="_currectUser">
                    <li class="navbar-menu-item" *ngIf="!_isVendor">
                        <a [routerLink]="['user','home']">Home</a>
                    </li>
                    <li class="navbar-menu-item" *ngIf="!_isVendor">
                        <a [routerLink]="['user','orders']">My Orders</a>
                    </li>
                    <li class="navbar-menu-item" *ngIf="_isVendor">
                        <a [routerLink]="['vendor','dashboard']">Dashboard</a>
                    </li>
                </ul>
                <!-- <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
                <span class="float-right">
                    <a class="btn btn-default action-button login" [routerLink]="['/login']" *ngIf="!_currectUser">Log In</a>
                    <a class="btn btn-default action-button" role="button" [routerLink]="['/register']" *ngIf="!_currectUser">Sign Up</a>

                    <a class="btn btn-default action-button" [routerLink]="_isVendor?['vendor','profile']:['user','profile']" *ngIf="_currectUser">My Profile</a>
                    <a class="btn btn-default action-button" role="button" (click)="_logoutClick()" *ngIf="_currectUser">Log Out</a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="#">Link</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="#">First Item</a></li>
                            <li role="presentation"><a href="#">Second Item</a></li>
                            <li role="presentation"><a href="#">Third Item</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" target="_self">
                    <div class="form-group">
                        <label class="control-label" for="search-field"><i class="glyphicon glyphicon-search"></i></label>
                        <input class="form-control search-field" type="search" name="search" id="search-field">
                    </div>
                </form>

            </div>
        </div>
    </nav>
</div>
