<div class="app-change-password">
    <form (submit)="submitPasswordData(cpForm)" novalidate #cpForm="ngForm">
        <h4 class="form-registration-heading">Please provide following details</h4>
        <br>
        <div [attr.class]="'alert alert-' + (serverMsg.isError?'danger':'success')" *ngIf="serverMsg.msg">
            {{serverMsg.msg}}
        </div>
        <div class="form-group">
            <input type="password" (keyup)="serverMsg.isError && resetErrorMsg()" class="form-control" name="oldpassword" [(ngModel)]="_data.currentPassword" #currpass="ngModel" placeholder="Current password"
                required pattern="(?=.*\d).{8,20}" />
            <div *ngIf="currpass.errors && (currpass.dirty || currpass.touched)" class="alert alert-danger">
                <div [hidden]="!currpass.errors.required">Please provide password</div>
                <div [hidden]="!currpass.errors.pattern">Password should be of at least 8 and max 20 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" (keyup)="serverMsg.isError && resetErrorMsg()" class="form-control" name="newpassword" [(ngModel)]="_data.newPassword" #newpass="ngModel" placeholder="New password"
                required pattern="(?=.*\d).{8,20}" />
            <div *ngIf="newpass.errors && (newpass.dirty || newpass.touched)" class="alert alert-danger">
                <div [hidden]="!newpass.errors.required">Please provide password</div>
                <div [hidden]="!newpass.errors.pattern">Password should be of at least 8 and max 20 characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" (keyup)="serverMsg.isError && resetErrorMsg()" class="form-control" name="matchPassword" [(ngModel)]="repeatPassword" #matchPass="ngModel" placeholder="Repeat new password" required/>
            <!-- <div *ngIf="matchPass.dirty || matchPass.touched" class="alert alert-danger"> -->
                <div class="alert alert-danger" [hidden]="!((matchPass.dirty || matchPass.touched) && matchPass.errors && matchPass.errors.required)">Please re-enter password</div>
                <div class="alert alert-danger" [hidden]="!((matchPass.dirty || matchPass.touched) && !(matchPass.errors && matchPass.errors.required) && repeatPassword!==_data.newPassword)">Password do not match</div>
            <!-- </div> -->
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!(cpForm.form.valid && repeatPassword===_data.newPassword)">Change Password</button>

    </form>
</div>
