.page-headeing{
    color: white;
}
.filter{
    padding: 10px 0;
	border: 1px solid white;
	border-width: 1px 0;
	color: white;
}
.order-item{
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 15px 0;
    background: rgba(255, 255, 255, .75);
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.order-item:hover{
    background: white;
}
.order-item .order-item:nth-child(odd){
}
.order-item .order-detail{
    display: inline-block;
    width: calc(100% - 110px);
    padding: 0 10px;
}
.order-item .order-status .badge{
    border-radius: 0;
    font-weight: normal;
    text-transform: uppercase;
}
.order-item .order-date{
    font-size: .8em;
}
.order-item .order-id>span,.order-item .price-total{
    font-weight: 500;
    font-size: 0.9em;
}