.main-container{
    padding: 0 15px;
    @media screen and (min-width: 1200px){
        max-width: 1200px;
		position: relative;
		min-height: 100vh;
    }
}
.home-conmponent {
	// font-family: Verdana, Geneva, Tahoma, sans-serif;
	.section-title {
        color: white;
        padding: 0 10px;
        font-size: 1.6rem;
    }
	.menu-container {
		.menu {
			padding: 0;
			&-item {
				display: inline-block;
				list-style-type: none;
                padding: 10px;
                @media screen and (min-width:1200px){
                    &:hover {
                        img {
                            transform: scale(1.5,1.5)
                        }
                        .menu-item-overlay {
                            background-color: rgba(255, 255, 255, 0.7);
                        }
                        .add-to-cart {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
				img {
                    width: 100%;
                    transition: all .4s ease;
                }
                &-inner{
                    overflow: hidden;
                }
				&-overlay {
					background-color: rgba(255, 255, 255, 0.2);
					display: block;
					text-align: center;
					position: absolute;
					top: 10px;
					bottom: 10px;
					left: 10px;
					right: 10px;
					transition: background .4s ease;
				}
				&-detail {
					position: absolute;
					top: 0;
					bottom: 0;
					margin: auto;
					display: table;
                    width: 100%;
                    padding: 0 15px;
					span {
						text-align: center;
						font-size: 24px;
						display: block;
						&.price {
							font-size: 18px;
						}
					}
				}
				.add-to-cart {
					background: #3d5cf5;
					color: white;
					text-decoration: none;
					padding: 2px 7px;
					margin-top: 6px;
					display: inline-block;
					font-size: .8em;
                    transition: all .4s ease;
                    @media screen and (min-width:1200px){
                        visibility: hidden;
                        opacity: 0;
                    }
				}
			}
		}
	}
	.cart-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 15px;
		// width: 100%;
		background: white;
		padding: 10px 15px;
		margin-top: 10px;
		.cart {
			&-title {
				margin-bottom: 10px;
			}
			&-head {
				padding: 10px 0;
				border-bottom: 1px solid gray;
			}
			&-body {
				// min-height: 50px;
				padding: 0;
                margin: 15px 0;
                max-height: 175px;
                overflow: auto;
			}
			&-item {
				list-style: none;
				padding: 7px 0;
				&-detail {
					// display: inline-block;
					width: 80%;
					float: left;
					i {
                        visibility: hidden;
                        opacity: 0;
                        transition: all .4s ease;
					}
					&:hover {
						i {
                            cursor: pointer;
                            visibility: visible;
                            opacity: 1;
                            &.fa-plus{
                                color: limegreen;
                            }
                            &.fa-minus{
                                color: red;
                            }
						}
					}
				}
				&-price {
					width: 20%;
					float: right;
					text-align: right;
				}
			}
			&-total {
				// border: 1px solid black;
				font-weight: bold;
				text-align: right;
				border-width: 1px 0;
				background: lightgray;
				padding: 5px;
			}
		}
	}
	.btn-container {
		text-align: center;
	}
}
