<div class="container">
    <div class="alert alert-info">
        <h3>
            Lunch Time!
        </h3>
        <hr>
        <p class="mb-0">
            Tell us what you wanna have in lunch ...
        </p>
    </div>
    <div class="card">
        <div class="card-body">
            <form (submit)="submitForm()" #myform="ngForm" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="emailid">Email address</label>
                            <input type="text" class="form-control" required [(ngModel)]="_emailid" placeholder="someone@example.com" name="emailid"
                                #e="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
                            <div *ngIf="e.errors && (e.dirty || e.touched)" class="alert alert-danger">
                                <div [hidden]="!e.errors.required">
                                    Email id is required
                                </div>
                                <div [hidden]="!e.errors.pattern">
                                    Please provide a valid email
                                </div>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="selectedMealOption">Options</label>
                            <select class="custom-select form-control" [(ngModel)]="selectedOption" name="selectedMealOption" #option="ngModel" required>
                              <option *ngFor="let o of mealOptions" [ngValue]="o" [attr.data-price]="o.Price">{{o.OptionDetail}}</option>
                          </select>
                            <div [hidden]="!(selectedOption.Price<=0 && (option.dirty || option.touched))" class="alert alert-danger">
                                Please select quantity
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="selected-quantity">How many?</label>
                            <select class="custom-select form-control" [(ngModel)]="selectedQuantity" name="selected-quantity" #qty="ngModel" required>
                              <option value="0">- select -</option>
                              <option *ngFor="let q of _quantity" [ngValue]="q">{{q}}</option>
                          </select>
                            <div [hidden]="!(selectedQuantity<=0 && (qty.dirty || qty.touched))" class="alert alert-danger">
                                Please select quantity
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="Comments">Any instructions? </label>
                            <textarea class="form-control" name="Comments" cols="30" rows="3" [(ngModel)]="_comments"></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="alert alert-success text-right">
                    <div class="row">
                        <div class="col-md-6">
                            Total:
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" disabled="disabled" name="totalCost" [(ngModel)]="(selectedOption?selectedOption.Price:0)*selectedQuantity">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!(myform.form.valid && selectedQuantity>0 && selectedOption.Price>0)">Submit</button>
            </form>
        </div>
    </div>
</div>
